<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='train.png') }}" type="image/x-icon">
    <title>Train Travel</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('register') }}">
            <div class="logo">
                <img src="{{ url_for('static', filename='trainLogo.png') }}">
                <div class="title">
                    <h1>Train Travel</h1>
                    <p>One-Stop Destination for all your train bookings</p>
                </div>
            </div>
        </a>
        <div class="nav-buttons">
            <ul>
                <li><a href="{{ url_for('login') }}">Sign in</a></li>
                <li><a href="{{ url_for('register') }}">Create Account</a></li>
            </ul>
        </div>
    </nav>
    {% with messages = get_flashed_messages()%}
        {% if messages%}
            {% for message in messages%}
                <p>{{message}}</p>
            {%endfor%}
        {%endif%}
    {%endwith%}
    <p>{{message}}</p>
    <div id="register">
        <div class="register">
            <h1>Create Account</h1>
            <form action="{{ url_for('register') }}" method="POST" onsubmit=" return validateForm()">
                <div class="form-group">
                    <label for="userId">UserID:</label>
                    <input type="text" id="userId" name="userId" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="mobileNumber">Mobile Number:</label>
                    <input type="tel" id="mobileNumber" name="mobileNumber" required>
                </div>
                <div class="form-group">
                    <label for="email">Email ID:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <button type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
        </div>
    </div>

    <script>
        function validateForm(){
            let isValid = true    
            const mobileNo = document.getElementById('mobileNumber');
            console.log(mobileNo)
            if (mobileNo.value.length !== 10 || !/^\d{10}$/.test(mobileNo.value)) {
                alert("Mobile Number should be 10 digits long.");
                isValid = false
            }
            return isValid
        }
    </script>

</body>
</html>