<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='train.png') }}" type="image/x-icon">
    <title>Train Travel</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">
            <div class="logo">
                <img src="{{ url_for('static', filename='trainLogo.png') }}">
                <div class="title">
                    <h1>Train Travel</h1>
                    <p>One-Stop Destination for all your train bookings</p>
                </div>
            </div>
        </a>
        <div class="nav-buttons">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('booktrain') }}">Book Tickets</a></li>
                <li><a href="{{ url_for('bookings') }}">My Bookings</a></li>
                <li><a href="{{ url_for('login') }}">Logout</a></li>
            </ul>
        </div>
    </nav>
    <!-- {% with messages = get_flashed_messages()%}
        {% if messages%}
            {% for message in messages%}
                <p>{{message}}</p>
            {%endfor%}
        {%endif%}
    {%endwith%} -->
    <div id="success">
        <h1>Success</h1>
        <div class="success-booking">
            <p>Your ticket has been booked successfully. You can view your ticket details in the My Bookings section.</p>
            <div class="success-buttons">
                <button><a href="{{ url_for('ticket', filename=filename) }}" target="_blank">Download Ticket</a></button>
                <button><a href="{{ url_for('bookings') }}">View Bookings</a></button>
                <button><a href="{{ url_for('home') }}">Return Home</a></button>
            </div>
        </div>  
    </div>
</body>
</html>